@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Yi Qian Rong<br />
    48-33 Colden Street<br />
    Flushing, NY 11355<br />
    <abbr title="Phone">P:</abbr>
    718.514.1965
</address>

